header {
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    padding: 1rem;

    .form-group {
        display: flex;
        @media(max-width: 575px) {
            margin-bottom: .25rem;
        }
    }

    .btn-light {
        height: 2.375rem;
    }
}

.form-group {
    padding: 0 .125rem;
}

.checkbox {
    float: left;
    width: 100%;
    label {
        justify-content: left;
    }
}